<nav>
    <div class="logo">
        <h4>Sea Food</h4>
    </div>
    <div class="routes">
        <div class="hamburger-menu">
            <button class="hamburger" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
        </div>

        <a routerLinkActive="active" 
           routerLink="/login">Home</a> 
    
        <a routerLinkActive="active" 
           routerLink="/home">Menu</a> 
    
        <!-- <a routerLinkActive="active" 
          routerLink="/catalog">Catering</a>  -->
    
          <a routerLinkActive="active" 
          routerLink="/catalog">Dilevery</a> 

          <a routerLinkActive="active" 
          routerLink="/catalog">About</a> 
    
          <a routerLinkActive="active" 
          routerLink="/catalog">Contact Us</a> 
       
      </div>
</nav>





  <router-outlet></router-outlet>
