<nav>
    <div class="logo">
        <h4>Sea Food</h4>
    </div>
    <div class="routes">
        <div class="hamburger-menu" (click)="changeNav(menu)">
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
        </div>

        <div class="routerLinks" #menu (window:resize)="onResize(menu)">
          <div class="inner">
            <a routerLinkActive="active" 
            routerLink="/home">Home</a> 
        
            <a routerLinkActive="active" 
            routerLink="/menu">Menu</a> 
        
            <a routerLinkActive="active" 
            routerLink="/services">Services</a> 
    
            <a routerLinkActive="active" 
            routerLink="/about">About</a> 
        
            <a routerLinkActive="active" 
            routerLink="/contactus">Contact Us</a> 
          </div>
        </div>
       
       
      </div>
</nav>

