
.container{
     background-image: url(/assets/backgroundTwo.jpg);
     background-blend-mode: multiply;
     background-color: rgba(104, 139, 135, 0.732);
     background-position:center;
     background-size: cover;
     height: 50vh;
     position: relative;
}

.heading{
    position: absolute;
    top: 54%;
    left: 50%;
    color: white;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: "Marcellus", serif;
    transform: translate(-50%,-50%);
}

.heading h1{
    text-transform: uppercase;
    font-size: 50px;
    position: relative;
}

.heading h1::before{
    content: "";
    height: 1px;
    width: 100px;
    background-color: white;
    position: absolute;
    top: 50%;
    right: 106%;
  }

  .heading h1::after{
    content: "";
    height: 1px;
    width: 100px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 106%;
  }
  
  nav a{
    text-decoration: none;
    color: white;
    padding: 1rem 7.5%;
    background-color: rgb(51, 51, 51);
    border: 1px solid black ;
    margin-top: 10px;
   
}

nav a:first-child{
    clip-path: polygon(100% 0%, 100% 49%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

nav a:last-child{
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 55%, 0% 0%);
}

nav a:hover{
    /* background-color: black; */
}

nav{
    display: flex;
    justify-content: center;
}