<div class="container">
    <div class="heading">
        <h1>Services</h1>
    </div>
</div>

<div class="services">

    <div class="order">
        <h4>Order In</h4>
        <!-- <p>Feel like ordering in...... <span>No Problem!!</span></p> -->
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quis eaque expedita officia incidunt ipsa voluptatibus quia at doloribus perferendis? Ducimus odio, nam aliquam exercitationem voluptate incidunt repellendus eum cupiditate!</p>
        <button>Order Now</button>
    </div>

    <div class="catering">
        <h4>Catering</h4>
        <!-- <p>Feel like ordering in...... <span>No Problem!!</span></p> -->
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur fugit atque excepturi voluptatum esse assumenda alias quia aut rerum expedita. Exercitationem esse nihil eos dolores aspernatur iure non ex illum?</p>
        <button>Order Now</button>
    </div>

    <div class="Reservation">
        <h4>Reservation</h4>
        <!-- <p>Feel like ordering in...... <span>No Problem!!</span></p> -->
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum consectetur totam, excepturi dolorum a vero odio commodi ea, repellat facere alias non esse inventore voluptatibus aliquid laboriosam quasi quae tempora.</p>
        <button>Order Now</button>
    </div>
    
</div>

<!-- order in modal design -->