<div class="container">
    <div class="heading">
        <h1>Contact Us</h1>
    </div>
</div>

<div class="form">
    <form >
        <div class="form-content">
            <div>
                <div class="input-fields">
                    <input type="text" placeholder="Your Name">
                </div>
    
                <div class="input-fields">
                    <input type="email" placeholder="Email">
                </div>
    
                <div class="input-fields">
                    <input type="text" placeholder="Contact Number">
                </div>
            </div>

            <div>
                <textarea name="" id="" cols="30"  placeholder="Your Message"></textarea>
            </div>
            
        </div>
    </form>
</div>
