<div class="container">
    <div class="heading">
        <h1>Contact Us</h1>
    </div>
</div>

    <div class="form-style">
        <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
        
        <div class="input-field">
            <input type="text" name="field1" placeholder="Your Name" formControlName="userName" required />
            <span  *ngIf="userName?.errors?.['required'] && userName?.touched">Enter a valid Name</span>
        </div>
       
        <div class="input-field">
            <input type="email" name="field2" placeholder="Email Address" formControlName="email" required />
            <span *ngIf="email?.errors?.['required'] && email?.touched">Enter a valid Email</span>
        </div>

        <div class="input-field">
            <textarea name="field3" placeholder="Type your Message" formControlName="text" required></textarea>
            <span *ngIf="text?.errors?.['required'] && text?.touched">Enter message</span>
        </div>
       
        <input type="submit"/>
        </form>
    </div>
   
      
